@use "../abstracts/" as a;

.home-carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  //__block is actual component which gets number class in props
  &__block {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.2s linear;
    padding: 3rem;
    @include a.respond(mobile) {
      padding: 1rem;
    }
    //general block content sizing, individual blocks go under .one/.two/.three etc.
    .block-content {
      position: relative;
      display: flex;
      height: 100%;
      width: 100%;
      max-width: 50rem;
      max-height: 30rem;

      img {
        object-fit: contain;
        width: 100%;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(1.02);
        }
      }
    }
    //numbered carousel__block components
    &.one {
      .block-content__heading--primary {
        top: 0rem;
        left: 2rem;
      }
      .block-content__box {
        aspect-ratio: 2/3;
        display: flex;
        height: auto;
        width: 50%;
        background-color: inherit;
        margin: 1rem;
      }
    }
    &.two {
      .block-content__heading--primary {
        bottom: -2rem;
        right: 2rem;
      }

      .block-content__box {
        aspect-ratio: 1/1;
        display: flex;
        height: auto;
        width: 50%;
        background-color: inherit;
        margin: 1rem;
      }
    }
    &.three {
      .block-content__heading--primary {
        top: -1rem;
        width: 100%;
        text-align: center;
      }

      .block-content__box {
        aspect-ratio: 4/3;
        display: flex;
        height: auto;
        width: 100%;
        padding: 1rem;
        background-color: inherit;
      }
    }

    &.active {
      opacity: 1;
      animation: slide 2.5s linear;
    }
    &.one {
      background-color: a.$color-blue-primary;
    }
    &.two {
      background-color: a.$color-blue-lightest;
    }
    &.three {
      background-color: a.$color-blue-lighter;
    }
  }
}

.block-content__heading--primary {
  position: absolute;
  font-size: clamp(2.5rem, 5vw, 5rem);
  z-index: 2;
  color: a.$color-white;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  25%,
  75% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
