@use "../abstracts/" as a;

.home-carousel {
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
  //__block is actual component which gets number class in props
  &__block {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.2s linear;
    //general block content sizing, individual blocks go under .one/.two/.three etc.
    .block-content {
      display: flex;
      height: 100%;
      width: 100%;
      padding: 3rem 0;
      img {
        object-fit: contain;
        max-width: 100%;
        max-height: 375px;
        padding: 1rem;
        transition: all 0.1s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    &.one {
      .block-content__heading--primary {
        top: 1rem;
        left: 2rem;
      }
      .block-content {
        justify-content: center;
        align-items: center;
        padding: 0 3rem;
      }
      .block-content__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        width: 75%;
        background-color: inherit;
        @include a.respond("laptop") {
          padding: 10rem;
        }
        @include a.respond("tablet") {
          padding: 3rem;
        }
        @include a.respond("mobile") {
          padding: 1rem;
        }
      }
    }
    &.two {
      .block-content__heading--primary {
        bottom: 1rem;
        right: 2rem;
      }
      .block-content {
        justify-content: space-evenly;
        align-items: center;
        @include a.respond("tablet") {
          flex-direction: row;
        }
        @include a.respond("mobile") {
          flex-direction: column;
        }
      }
      .block-content__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;

        width: 50%;
        img {
          max-height: 170px;
        }
      }
    }
    &.three {
      .block-content__heading--primary {
        top: 1rem;
        width: 100%;
        text-align: center;
      }
      .block-content {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
      }
      .block-content__box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 80%;
        img {
          max-height: 200px;
        }
      }
    }

    &.active {
      opacity: 1;
      transform: translateX(0%);
    }
    &.one {
      background-color: a.$color-blue-primary;
    }
    &.two {
      background-color: a.$color-blue-lightest;
    }
    &.three {
      background-color: a.$color-blue-lighter;
    }
  }
}

.block-content__heading--primary {
  position: absolute;
  font-size: clamp(2.5rem, 8vw, 5rem);
  z-index: 2;
  color: a.$color-white;
}
